.btn-filter{
    font-size: 16px;
    width: 50px;
    height: 30px;
    /* margin-inline-start: 10px; */
    border-radius: 5px;
    margin-top: 14px;
    
}

.btn-filter i{
    color: var(--clr1) !important;
}

.book-filter{
    /* width: 40vw; */
    width: 300px;
    margin: 20px auto 0 auto;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.103);
    /* padding-bottom: 15px; */
    border-radius: 10px;
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.3);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    text-align: center;
    /* justify-items: center; */
}

.area1{
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.area2{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.area3{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.area4{
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    
}

.price-input{
    width: 80px;
}

.book-filter input{

    /* margin-inline-end: 10px; */
}